* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

header {
  padding-top: 29px;
  padding-bottom: 57px;
}

.space {
  justify-content: space-around;
}

.d-flex {
  display: flex;
}

.j-content {
  justify-content: space-between;
}

.align {
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
}

.box {
  margin: auto;
  max-width: 1294px;
}
.box li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 34px;
}
.box li a:hover {
  background-color: silver;
}
.box li:last-of-type a {
  margin-left: 10px;
}

.icon:first-of-type img {
  margin-right: 25px;
}

.new-phons {
  position: relative;
}
.new-phons .phones-box {
  margin: auto;
  max-width: 1294px;
  background: #DCE5E2;
  border-radius: 16px;
}
.new-phons .phones-box .phones {
  padding-top: 145px;
}
.new-phons .phones-box .phones h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.new-phons .phones-box .phones p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
.new-phons .phones-box .phones a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
}
.new-phons .phones-box .phones a:hover {
  background-color: silver;
}
.new-phons .phones-box img {
  right: 15%;
  top: -6%;
}

.shop {
  padding-bottom: 78px;
  padding-top: 75px;
}

.shop-our {
  max-width: 780px;
  margin: auto;
}
.shop-our h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.shop-our p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}

.box1 {
  background: #FFFFFF;
  border-radius: 32px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}
.box1 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  padding-right: 42px;
}
.box1 h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  padding-right: 42px;
}

.block1 {
  margin-bottom: 72px;
  position: relative;
  transition: 0.9s;
}
.block1:hover {
  transform: scale(1.2);
}

.block2 {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.5s;
  bottom: 0px;
}
.block2:hover {
  bottom: -50px;
}

.text {
  margin-left: 46px;
}

.box2 {
  padding-top: 144px;
  background: #FFFFFF;
  border-radius: 32px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  position: relative;
  transition: 0.9s;
}
.box2:hover {
  transform: scale(1.2);
}
.box2 img {
  margin-bottom: 41px;
}
.box2 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.box2 h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.box3 {
  background: #FFFFFF;
  border-radius: 32px;
  padding-top: 114px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  position: relative;
  transition: 0.9s;
}
.box3:hover {
  transform: scale(1.2);
}
.box3 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.box3 h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 42px;
}

.save {
  padding-top: 78px;
  padding-bottom: 74px;
}

.items {
  max-width: 642px;
  margin: auto;
}
.items h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.items p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.box-save {
  max-width: 1294px;
  margin: auto;
}
.box-save img {
  margin-top: 31px;
}
.box-save h4 {
  margin-top: 37px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.box-save p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 9px;
  color: #4B4B4B;
}
.box-save h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 8px;
}

.block-save {
  max-width: 247px;
}

.see {
  padding-top: 75px;
  padding-bottom: 75px;
}

.block-see {
  max-width: 529px;
  margin: auto;
}
.block-see h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin-bottom: 9px;
}
.block-see p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
  text-align: center;
}

.explore {
  background: #F8F9FA;
  border-radius: 16px;
  text-align: center;
  max-width: 413px;
  position: relative;
  transition: 0.9s;
}
.explore:hover {
  transform: scale(1.1);
}
.explore p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding-top: 41px;
}
.explore h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.explore a {
  padding: 14px 63px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
}
.explore a:hover {
  background-color: silver;
}
.explore img {
  margin-top: 30px;
}

.ideas {
  padding-bottom: 25px;
}
.ideas img {
  margin-bottom: 73px;
}

.road {
  max-width: 620px;
}
.road p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
  padding-left: 35px;
}

.see-all {
  margin: auto;
  width: 150px;
  display: flex;
}
.see-all p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}

.Looking {
  padding-bottom: 17px;
}
.Looking h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}

.input {
  margin: auto;
  max-width: 650px;
  position: relative;
}
.input img {
  position: absolute;
  top: 40px;
  left: 20px;
}
.input input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 24px;
  width: 600px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 67px;
}

.input-box {
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}
.link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  color: #000000;
  padding: 12px 22px 13px 22px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.link a:hover {
  background: silver;
}

.never {
  max-width: 935px;
  margin: auto;
  background: #DCE5E2;
  border-radius: 16px;
  text-align: center;
}
.never h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  padding-top: 47px;
  margin-top: 68px;
}
.never p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.never img {
  margin-top: 14px;
  margin-bottom: 14px;
}
.never form {
  padding-bottom: 43px;
  display: flex;
  justify-content: center;
}
.never input {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
  padding: 18px 184px 19px 32px;
}
.never button {
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 33px 17px 32px;
}

footer {
  background: #F8F9FA;
  border-radius: 0px;
  padding-bottom: 4px;
  padding-top: 44px;
}

.footer-box {
  margin: auto;
  max-width: 1294px;
  margin-bottom: 78px;
}
.footer-box img {
  margin-bottom: 18px;
}
.footer-box p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.footer-box li {
  margin-bottom: 14px;
}
.footer-box li:first-of-type {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 19px;
}
.footer-box li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.made {
  border-top: 1px solid #d2d2d2;
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 52px;
}

.made-block {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.preproc.css.map */
